
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap.scss';

html {
  scroll-behavior: smooth;
}

.navbar-laravel {
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar-laravel, .nav-link
{
  margin: 0px;
  padding: 0px;
}

.nav-link
{
  padding: 12px;
  border-bottom: 3px solid transparent;
  font-weight: 700;

}
.navbar-laravel .nav-link:hover, .nav-link-active
{
  border-bottom: 3px solid #039be5;
  font-weight: 900;
  background-color: #F8F8FF;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 2px groove transparent;
}

.card form label, .modal form label
{
  font-weight: 700;
  color: #424242;
}

.card input, .card textarea, .modal input, .modal textarea, .view-password, .shadow-block
{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input:focus, textarea:focus
{
  box-shadow: none; 
}

#loader
{
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Black background with opacity */
}

.meet_pat span
{
  font-weight: 900;
}

.card
{
    margin-top: 48px;
}

td .far, td .fas, .tabulator-cell .fas, .tabulator-cell .far
{
  font-size: 24px;
  color: #039be5;
  margin-right: 12px;

}

td .fa-facebook-square, td .fa-google
{
  font-size: 24px;
}

.google-upload-btn
{
  cursor: pointer;
}

.user-files-table .action-link:hover
{
  background-color: #ECECEC;
}

.action-link:hover
{
  color: #424242;
}

.table {
  margin: auto;
  background-color: #fff;
}

.warning-text-bolder
{
  font-weight: 900;
}

.navbar-toggler
{
  border: 0px;
}

.table_button
{
  border: none;
  background: #ffffff;
}
.user-files-table .table_button:hover, .user-files-table tr:hover .table_button
{
  background-color: #ECECEC;
}

.table_button:hover
{
  cursor: pointer;
  background: #E0E0E0;
}

.tabulator-row:hover .table_button 
{
  cursor: pointer;
  background: #E0E0E0;
}

// Checkbox styling

 /* Customize the label (the container) */
 .container-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f8f8ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

/* On mouse-over, add a grey background color */
.container-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-label input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute; 
  display: none;
}

/* Show the checkmark when checked */
.container-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

// End Checkbox styling

// Badge Styling

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  font-family: 'Noto Sans', sans-serif;
}


/* The ribbons */

.corner-ribbon{
  width: 200px;
  background:rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #039be5;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.ribbon-sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

.jumbotron-main {
  background-color: #424242;
  color: #fff;
}

// Googles button

.google-button
{
  padding: 3px;
  font-size: 26px;
  font-weight: 900;
}

.google-button i
{
  color: #4285F4;
}

.google-o-red
{
 color: #EA4335;
}

.google-o-yellow
{
 color: #FBBC05;
}

.google-g-blue
{
 color: #00A1F1;
}

.google-l-green
{
 color: #34AB53;
}

.google-e-orange
{
 color: #F65314;
}

@media only screen and (max-width: 768px) {
  .facebook-button
  {
    font-size: 14px;
  }
}
@media only screen and (min-width: 769px) {
  .facebook-button
  {
    font-size: 22px;
  }
}

.facebook-button
{
  font-weight: 900;
  color: #4267B2;
  margin: auto;
  width: 100%;
}

.upload-box
{
  width: 100%;
  height: 128px;
  border: 2px solid #999;
  border-style: dashed;
  border-radius: 2px;
}

.file-input-box
{
  margin-top: 50px;
}

.input-file-text
{
  font-size: 32px;
  color: #999;
  width: 100%;
  margin-left: 64px;
}

.info-badge 
{
  cursor: pointer;
}

/* Switches */

.switch{
  --uiSwitchSize: var(--switchSize, 64px);
  --uiSwitchBgColor: var(--switchBgColor, #999);
  --uiSwitchBgColorActive: var(--switchBgColorActive, #00A3D9);
  --uiSwitchBorderColorActive: var(--switchBorderColorActive, #fff);
  --uiSwitchBorderColorFocus: var(--switchBgColorFocus, #00A3D9);
  --uiSwitchButtonBgColor: var(--switchButtonBgColor, #fff);  
  
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch__label{
  display: block;
  width: 100%;
  height: 100%;
}

.switch__toggle{
  width: 0;
  height: 0;
  opacity: 0;
  
  position: absolute;
  top: 0;
  left: 0;
}

.switch__toggle:focus ~ .switch__label{
  box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorFocus);
}

.switch__toggle:checked:focus ~ .switch__label{
  box-shadow: 0 0 0 var(--uiSwitchThickFocus, 4px) var(--uiSwitchBorderColorActive);
}

.switch__label:before, .switch__label:after{
  content: "";
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
}

.switch__label:before{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--uiSwitchBgColor);
}

.switch__label:after{
  top: 50%;
  z-index: 3;
  transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
}

/* type 1 */

.switch_type1{
  --uiSwitchBorderRadius: var(--switchBorderRadius, 60px);
  
  width: var(--uiSwitchSize);
  height: calc((var(--uiSwitchSize) / 2));
  border-radius: var(--uiSwitchBorderRadius);    
  background-color: var(--uiSwitchBgColorActive);
}

.switch_type1 .switch__label{
  border-radius: var(--uiSwitchBorderRadius);    
}

.switch_type1 .switch__label:before{
  border-radius: var(--uiSwitchBorderRadius);
  transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
  transform: scale(1);
  opacity: 1;
}

.switch_type1 .switch__toggle:checked ~ .switch__label:before{
  transform: scale(0);
  opacity: .7;
}

.switch_type1 .switch__label:after{
  width: calc(var(--uiSwitchSize) / 2);
  height: calc(var(--uiSwitchSize) / 2);
  transform: translate3d(0, -50%, 0);
  
  background-color: var(--uiSwitchButtonBgColor);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);  
}

.switch_type1 .switch__toggle:checked ~ .switch__label:after{
  transform: translate3d(100%, -50%, 0);
}

/* demo styles for switch */

.switch{
  --switchSize: 64px;
  margin-top: 20px;
  margin-left: 50px;
}

.switch_type2{
  --switchBgColorActive: #e85c3f;
  --switchBgColorFocus: #d54b2e;
}

.switch-label{
  font-size: 24px;
}

/* spinner-3 styles */
$basic-dark-color: #00A3D9; //color of the spinner
$border-width: 4px; //width of spinners border
$basic-spinner-dimensions: 32px; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle

.spinner {
  position: relative;
  width: $basic-spinner-dimensions;
  height: $basic-spinner-dimensions;

  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
  }
}

.spinner.spinner-3 {
  
  @keyframes scale-2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    
    50% {
      transform: scale(0.7);
      opacity: 1;
    }
    
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  &:before {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0px;
    left: 0px;
    animation: scale-2 1s linear 0s infinite;
  }
  
  &:after {
    width: $main-spinner-dimensions;
    height: $main-spinner-dimensions;
    border-color: $basic-dark-color;
    top: 0;
    left: 0;
    opacity: 0;
    animation: scale-2 1s linear 0.5s infinite;
  }
}

.user-files-table th, .user-files-table td
{
  text-align: center;
}

.filepond--root 
{
  height: 150px;
}

.filepond--panel-root 
{
  border: 2px dotted #2c3340;
}

div.filepond--drop-label, fieldset.filepond--file-wrapper
{
  top: 25%;
}

div.filepond--item {
  position: absolute;
  margin-top: 25px;
}

.card .fa-chart-bar, .card .fa-graduation-cap, .card .fa-sliders-h,
.card .fa-file-upload, .card .fa-bell, .card .fa-sync-alt, .card .fa-folder,
.fa-cloud-upload-alt, .card .fa-save, .card .fa-users, .card .fa-chart-line,
.card .fa-facebook-f, .card-title .fa-google, .card .fa-database
{
  font-size: 128px;
}

.card-link:hover
{
  text-decoration: none;
}

.card-link:hover
{
  text-decoration: none;
}

.card-link .card-header
{
  color: #545454;
}

.card-link .card
{
  width: 264px;
  height: 325px;
  margin: 0px;
}

.text-orange
{
  color: #FF7F00;
}

.text-facebook
{
  color: #3b5998;
}

.text-google {
  color: #FF3E30;
}

.border-orange
{
  border-color: #FF7F00;
}

.border-facebook
{
  border-color: #3b5998;
}

.border-google
{
  border-color: #FF3E30;
}

.card-link-success .card:hover
{
  background-color: #38C172;
  box-shadow: none;
  border: none;
}
.card-link-danger .card:hover
{
  background-color: #e3342f;
  box-shadow: none;
  border: none;
}
.card-link-primary .card:hover 
{
  background-color: #00A3D9; 
  box-shadow: none;
  border: none;
}
.card-link-secondary .card:hover 
{
  background-color: #6C757D;
  box-shadow: none;
  border: none;
}

.card-link-facebook .card:hover
{
  background-color: #3b5998;
  box-shadow: none;
  border: none;
}

.card-link-google .card:hover
{
  background-color: #FF3E30;
  box-shadow: none;
  border: none;
}

.card-link-orange .card:hover
{
  background-color: #FF7F00;
  box-shadow: none;
  border: none;
}

.card-link-secondary .card:hover p,.card-link-primary .card:hover p,.card-link-success .card:hover p, .card-link-orange .card:hover p, 
.card-link-facebook .card:hover p, .card-link-google .card:hover p, .card-link-danger .card:hover p,
.card-link-success .card:hover i, .card-link-primary .card:hover i,.card-link-secondary .card:hover i,.card-link-orange .card:hover i,
.card-link-facebook .card:hover i, .card-link-google .card:hover i, .card-link-danger .card:hover i,
.card-link-success .card:hover .card-header, .card-link-primary .card:hover .card-header,.card-link-secondary .card:hover .card-header,
.card-link-orange .card:hover .card-header, .card-link-facebook .card:hover .card-header, .card-link-google .card:hover .card-header,
.card-link-danger .card:hover .card-header
{
  color: #fff;
}

.card-link-success .card:hover .card-header
{
  border-color: #38C172;
}
.card-link-danger .card:hover .card-header
{
  border-color: #e3342f;
}
.card-link-primary .card:hover .card-header
{
  border-color: #00A3D9;
}

.card-link-secondary .card:hover .card-header
{
  border-color: #6C757D;
}

.card-link-orange .card:hover .card-header
{
  border-color: #FF7F00;
}

.card-link-facebook .card:hover .card-header
{
  border-color: #3b5998;
}

.card-header
{
  font-weight: bold;
  text-align: center;
}

/* Mobile and Tablet(portrait) */

@media only screen and (max-width: 600px) {
  .card-link {
    margin-bottom: 16px;
  }
  a.card-link.card-link-primary, a.card-link.card-link-success, a.card-link.card-link-orange, a.card-link.card-link-secondary, a.card-link.card-link-danger
  {
    margin-left: 0px;
  }

  .navbar-nav li
  {
    //margin: 16px;
    padding: 8px;
  }

  .data-graph-container h3 span
  {
    font-size: 18px;
    
  }

  .media .dropdown-toggle
  {
    padding: 6px;
    margin: 0px;
  }

}

// Mobile phones
@media only screen and (orientation: landscape) and (max-width: 900px)
{
  .card-link {
    margin-bottom: 8px;
    margin-right: 4px;
  }
  a.card-link.card-link-primary, a.card-link.card-link-success, a.card-link.card-link-orange, a.card-link.card-link-secondary, a.card-link.card-link-danger
  {
    margin-left: 0px;
  }
}

// iPad
@media only screen and (orientation: portrait) and (min-width: 768px)
{
  .card-link {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  a.card-link.card-link-primary, a.card-link.card-link-success, a.card-link.card-link-orange, a.card-link.card-link-secondary, a.card-link.card-link-danger
  {
    margin-left: 0px;
  }
}

// iPad landscape
@media only screen and (orientation: landscape) and (min-width: 1024px)
{
  .card-link {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  a.card-link.card-link-primary, a.card-link.card-link-success, a.card-link.card-link-orange, a.card-link.card-link-secondary, a.card-link.card-link-danger
  {
    margin-left: 0px;
  }
}

/* iPad Portrait */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    .data-graph-container h3 span
    {
      font-size: 18px;
      
    }
  
    .media .dropdown-toggle
    {
      padding: 6px;
      margin: 0px;
    }
}


/* iPad Landscape */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) {
    .data-graph-container h3 span
    {
      font-size: 18px;
      
    }
  
    .media .dropdown-toggle
    {
      padding: 6px;
      margin: 0px;
    }
}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: portrait) {
    .data-graph-container h3 span
    {
      font-size: 18px;
      
    }
  
    .media .dropdown-toggle
    {
      padding: 6px;
      margin: 0px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (orientation: landscape) {
    .data-graph-container h3 span
    {
      font-size: 18px;
      
    }
  
    .media .dropdown-toggle
    {
      padding: 6px;
      margin: 0px;
    }
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (orientation: portrait) {
    .data-graph-container h3 span
    {
      font-size: 18px;
      
    }
  
    .media .dropdown-toggle
    {
      padding: 6px;
      margin: 0px;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (orientation: landscape) {
    .data-graph-container h3 span
    {
      font-size: 18px;
      
    }
  
    .media .dropdown-toggle
    {
      padding: 6px;
      margin: 0px;
    }
}



.display-4
{
  color: #6C757D;
}

.display-4 small 
{
  color: #00A3D9;
}

#number_of_records
{
  font-size: 24px;
  width: 100%;
  border: 2px solid #6C757D; border-radius: 5px;
  padding: 15px;
}

tspan
{
  font-size: 10px;
}

.progress
{
  height: 36px;
  background-color: #545454;

}

.progress-bar
{
  font-size: 24px;
}

.progress-title
{
  color: #00A3D9;
  font-weight: bold;
}

.loader_title
{
  font-size: 20px;
}

/* Checkbox Styles */

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:30px;
  height:25px; 
  display:inline-block;
  line-height:25px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;
  margin-bottom: 5px;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -25px;
}
label.css-label {
background-image:url(https://s3.amazonaws.com/meetpat/public/images/csscheckbox_391ce065f36b1460c4845fa9b5173fba.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
white-space: nowrap;
}

.right-sidebar strong
{
  width: 100%;
  color: #fff;
}
.right-sidebar
{
  padding: 8px;
  position: fixed;
  z-index: 9999;
  right:0px;
  width: 256px;
  height: 100%;
  background-color: #00A3D9;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.right-sidebar-button
{
  position: fixed;
  z-index: 1021;
  top: 50%;
  right: 256px;
  width: 48px;
  height: 48px;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: #00A3D9;
}

.apply-right-sidebar-button
{
  position: fixed;
  z-index: 1021;
  top: 250px;
  right: -79px;
  width: 128px;
  height: 48px;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: #FFBB00;
}

#reset-toggle-button
{
  position: fixed;
  z-index: 1021;
  top: 200px;
  right: -79px;
  width: 128px;
  height: 48px;
  border-radius: 15px 0px 0px 15px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  background-color: #545454;
}

.apply-right-sidebar-button:hover,
#reset-toggle-button:hover {
  transition: 0.3s;
  right: 0px;
}

@media screen and (max-width: 320px)
{
  .apply-right-sidebar-button
  {
    top: 228px;
  }

  #reset-toggle-button
  {
    top: 175px;
  }


}

@media screen and (orientation: landscape) and (max-width: 740px)
{
  .apply-right-sidebar-button, #reset-toggle-button
  {
    display: none;
  }
  #right-options-sidebar
  {
    overflow-y: auto;
  }
}

@media screen and (orientation: portrait) and (max-width: 570px)
{
  #right-options-sidebar
  {
    overflow-y: auto;
  }
}

.right-sidebar-button i 
{
  font-size: 24px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.reset-right-sidebar-button i
{
  font-size: 24px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.apply-right-sidebar-button i
{
  font-size: 24px;
  position: absolute;
  margin: 0;
  top: 50%; 
  left: 20%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.reset-right-sidebar-button span
{
  font-size: 24px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.apply-right-sidebar-button span
{
  font-size: 24px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 63%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.sidebar-in
{
  right: -512px;
}
.sidebar-button-in 
{
  right: 0px;
}

.right-sidebar-button:hover, .reset-right-sidebar-button:hover, .apply-right-sidebar-button:hover
{
  cursor: pointer;
}

#reset-toggle-button:hover
{
  background-color: rgb(120,120,120);
}

.right-sidebar-button:hover
{
  background-color: rgba(0, 163, 217, 0.8);
}

.apply-right-sidebar-button:hover
{
  background-color: rgba(255, 187, 0, 0.8); 
}

#contacts-num-sidebar, #potential-contacts-num-sidebar
{
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  color: #545454;
  text-align: center;
}

.sidebar-filters li
{
  border-radius: 2px 2px 2px 2px;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 1px solid #545454;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin: 0px;
  width: 100%;
}

.sidebar-filters
{
  overflow-y: scroll;
  height: 256px;
}

.filter-heading
{
  font-weight: bold;
}

.sidebar-filters li i
{
  margin-top: 4px;
  cursor: pointer;
}

.sidebar-filters li i:hover
{
  color: #d54b2e;
}

#municipality-graph .dropdown-menu
{
  font-size: 8px;
  width: 320px;
}

.dropdown-menu
{
  z-index: 1019;
  border-radius: 0px;

}

nav .dropdown-menu
{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.css-label small
{
  color: #00A3D9;
}

.filtered-list-items li span
{
  color: #00A3D9;
  font-size: 18px;
}

.filtered-list-items li
{
  font-size: 18px;
}

.filter-count i
{
  font-size: 24px;
}

.status-loader
{
  margin-top: 4px;
  margin-right: 8px;
}

.saving-status-loader
{
  margin-bottom: 4px;
  margin-right: 8px;
}
.status-text
{
  font-weight: bold;
}

.status-text, .status-loader
{
  color: #00A3D9;
}

.sync-list li
{
  background-color: ghostwhite;
  padding: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.account-settings-list li
{
  padding: 16px;
}

.btn-primary
{
  background-color: #00A3D9;
}

.card-body h4
{
  color: #00A3D9;
}

.eraser
{
  animation: bobble 1s infinite;
}

@keyframes bobble {
  0% {
      transform: translate3d(0px, 4px, 5px);
      animation-timing-function: ease-in;
  }
  50% {
      transform: translate3d(0px, 5px, 5px);
      animation-timing-function: ease-out;
  }

}

.data-icon
{
  height: 64px;
  width: 64px;
  // margin-right: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.data-graph-container h3
{
    // padding: 0px;
    padding-bottom: 6px;
    padding-left: 64px;
    margin: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    //border-radius: 0px 0px 4px 4px;
}
.dropdown-toggle
{
  border-radius: 0px !important;
}
.data-graph-container .spinner-block
{
  background-color: #f7f7f7;
  padding-top: 16px;
  padding-left: 16px;
}

.data-graph-container .media h3 span{
  font-size:18px;
} 

.media img
{
  margin-right: 0px !important;
}

.media
{
  margin-bottom: 2px;
}

.account-name, .account-name:hover, .account-credits, .account-credits:hover
{
  background-color: #545454;
  color: #fff;
}

.account-item:hover
{
  background-color: #00A3D9;
  color: #fff;
}

.heading-row
{
  margin-top: 32px;
  margin-bottom: 32px;
}

.page-item
{
  text-align: center;
  width: 85px;
}

#progress_popup
{
  margin: 0px;
  padding-top: 145px;
  padding-right: 80%;
  height: 100%;
  font-size: 12px;
}

#progress_popup .modal-content
{
  padding: 0px;
  margin: 0px;
  height: 75px;
  width: 560px;
}
#progress_popup .modal-body
{
  padding: 6px;
  margin: 0px;
}

@media screen and (max-width: 475px) {
  #progress_popup
  {
    padding-top: 160px;
  }

  #progress_popup .modal-content
  {
    max-width: 300px;
    height: 120px;
  }
}

#attributes_placeholder,
#records_placeholder
{
  font-weight: bold;
}

#clients_table i:hover, #user_files i:hover
{
  cursor: pointer;
  color: #545454;
}

#user_files table i
{
  text-align: center;
}

.admin-dropdowns .dropdown-menu .dropdown-item:hover {
  background-color: #00A3D9;
  color: #fff;
}

.admin-dropdowns .active-item, .admin-dropdowns .active-item:hover
{
  background-color: #545454 !important;
  color: #fff;
}

.thead-primary
{
  color: #fff;
  background-color: #00A3D9;
}



.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus {
    cursor: pointer;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
      width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
      width: 1.25em;    
  }
}

#tableData td i:hover{
  cursor: pointer;
}

.continue-with-facebook
{
  height: 40px;
  width: 400px;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3b5998;
  font-size: 24px;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
}

a.continue-with-facebook:hover
{
  color: #fff;
  text-decoration: none;
}

.bars3, .bars3-google {
  display: block;
  position: absolute;
  /* top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;*/
}

.bars3 {
  margin: 5px 0 0 40px; 
}

.bars3-google {
  margin: 5px 0 0 20px; 
}

.bars3 span {
  position: absolute;
  display: block;
  /* bottom: 10px; */
  width: 9px;
  height: 15px;
  background: rgba(59, 89, 152, 0.25);
  -webkit-animation: bars3 2s  infinite ease-in;
          animation: bars3 2s  infinite ease-in;
}

.bars3-google span {
  position: absolute;
  display: block;
  /* bottom: 10px; */
  width: 9px;
  height: 15px;
  -webkit-animation: bars3-google 2s  infinite ease-in;
          animation: bars3-google 2s  infinite ease-in;
}

.bars3 span:nth-child(2), .bars3-google span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bars3 span:nth-child(3), .bars3-google span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.bars3 span:nth-child(4), .bars3-google span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.bars3 span:nth-child(5), .bars3-google span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.bars3-google span:nth-child(2) {
  background: rgba(59, 89, 152);
}

.bars3-google span:nth-child(3) {
  background: #DB4437;
}

.bars3-google span:nth-child(4) {
  background:rgba(244, 180, 0);
}

.bars3-google span:nth-child(5) {
  background: rgba(15, 157, 88);

}

@keyframes bars3 {
  0% {
    background: rgba(59, 89, 152, 0.25);
  }
  25% {
    background: #3B5998;
  }
  50% {
    background: rgba(59, 89, 152, 0.25);
  }
  100% {
    background: rgba(59, 89, 152, 0.25);
  }
}
@-webkit-keyframes bars3 {
  0% {
    background: rgba(59, 89, 152, 0.25);
  }
  25% {
    background: #3B5998;
  }
  50% {
    background: rgba(59, 89, 152, 0.25);
  }
  100% {
    background: rgba(59, 89, 152, 0.25);
  }
}

@media only screen and (max-width: 414px) {
  .bars3 {
    margin: 0px 0px 0px 0px;
    left: 65px;
    bottom: 95px;

  }
}

@keyframes bars3-google {
  0% {
    background: rgba(59, 89, 152, 0.25);
  }
  25% {
    background: #DB4437;
  }
  50% {
    background:rgba(244, 180, 0, 0.25);
  }
  100% {
    background: rgba(15, 157, 88, 0.25);
  }
}

@-webkit-keyframes bars3-google {
  0% {
    background: rgba(59, 89, 152, 0.25);
  }
  25% {
    background: #DB4437;
  }
  50% {
    background: rgba(244, 180, 0, 0.25);
  }
  100% {
    background: rgba(15, 157, 88, 0.25);
  }
}
  
@media only screen and (max-width: 414px) {
  .bars3-google {
    margin: 0px 0px 0px 0px;
    left: 65px;
    bottom: 95px;

  }
}

/* Start Loaders */

.lds-dual-ring {
  display: inline-block;
  // width: 20px;
  height: 20px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 4px;
  border-radius: 50%;
  border: 1px solid #039be5;
  border-color: #039be5 transparent #039be5 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #039be5;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.lds-ripple div {
  position: absolute;
  border: 1px solid #039be5;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 9px;
    left: 9px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    opacity: 0;
  }
}


/* End Loaders */

td .fa-check-circle, td .fa-times-circle
{
  margin-right: 0px;
  font-size: 20px;
}

td .fa-check-circle:hover, td .fa-times-circle:hover
{
  cursor: default;
}