<p>The subject property comprises of a partial double-storey residential dwelling located in Protea Park, Rustenburg.</p>

<p>A spacious modern large home on the corner of Stamvrug and Bergbos Avenue.</p>

<p>There are 2 entrances on Stamvrug Avenue, one entering the premises and the other to exit. There is potential to transform this property into a guest lodge or Airbnb.</p>

<ul>
    <li>5 Bedrooms (MES) main bedroom with balcony &amp; walk in closet</li>

    <li>Solid wooden staircase leading to upper area.</li>

    <li>3 Bathrooms - Main bedroom with steam system in shower and 2 toilets. All bathrooms have granite tops.</li>

    <li>Guest toilet</li>

    <li>Kitchen granite tops and water filtering system</li>

    <li>Scullery</li>

    <li>Entrance Hall</li>

    <li>Family TV Room</li>
    <li>Dining Room</li>

    <li>Study</li>

    <li>Lounge</li>

    <li>2 living rooms</li>
    <li>Build in bar with build in cupboards.</li>

    <li>Gym room with sauna.</li>

    <li>Air condition -? 11 in total.</li>

    <li>Elevator to upper level.</li>

    <li>All pillars within the house are granite.</li>

    <li>All curtains and blinds are included in the sale.</li>
</ul>
<strong>Outbuildings:</strong>
<ul>
    <li>2 x automated garage with build in cupboards.</li>

    <li>Entertainment area with build in braai.</li>

    <li>Swimming Pool - with water feature.</li>

    <li>Servants quarters includes kitchen area with build in cupboards plus toilet.</li>

    <li>Garden lights in front &amp; rear of the house with day/night switch.</li>
</ul>
<strong>Additional Features:</strong>
<ul>
    <li>Alarm with CCTV -camera system.</li>

    <li>Electric fencing.</li>

    <li>Security gates.</li>
    <li>Borehole.</li>

    <li>3 x Build in fireplaces.</li>

    <li>Beautiful manicured garden.</li>

    <li>Prepaid meters.</li>
</ul>
<strong>Summary:</strong>

<p>Roof: Tiled
External Walls: Plastered and painted brickwork
Internal Walls: Plastered</p>

<p>External Floors: Paved and brickwork</p>

<p>Internal floors: Tiled, carpeted and laminated
Staff Quarters: Staff quarters available
Condition: The property is in immaculate condition</p>